* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


button {
    cursor: pointer;
}

.wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
}

.sign-in {
    width: 420px;
    font-family: 'Open Sans', sans-serif;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid #d7d7d7;
}

.header {
    background-color: #4c6da6;
    min-height: 58px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    color: #d8dde5;
    padding-left: 30px;
}

.social-links {
    list-style: none;
    display: flex;
}

.social-link {
    width: 70px;
    display: block;
    height: 58px;
    background-repeat: no-repeat;
    background-position: center;
    border-left: 1px solid #3f5f95;

}

.social-link-facebook {
    background-image: url(../images/facebook.png);
}

.social-link-twitter {
    background-image: url(../images/twitter.png);
}

.social-link-google {
    background-image: url(../images/google.png);
}

.widget_bg {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(215, 215, 215);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: 187px;
    top: 77px;
    width: 424px;
    height: 444px;
    z-index: 4;
  }
  
  .form {
    padding: 54px 30px;
    background-color: #ffffff;
  }

  .form-field {
    width: 100%;
    height: 55px;
    margin-bottom: 22px;
    border-radius: 5px;
    border: 1px solid #dfdfdf;
    padding-left: 25px;
    display: block;
    font-size: 18px;
    background-color: #f9f9f9;
    background-repeat: no-repeat;
    background-position: calc(100% - 20px) center;
  }

  .form-field-password {
      margin-bottom: 30px;
      background-image: url(../images/password.png);
      background-position-x: calc(100% - 23px);
  }

.form-field-email {
    background-image: url(../images/email.png);
}

  .form-submit {
    border-radius: 5px;
    background-color: #f3575d;
    display: block;
    width: 100%;
    height: 55px;
    color: #ffffff;
    font-size: 18px;
    border: none;
  }
  
.footer {
    color: #929292;
    text-align: center;
    font-size: 18px;
    padding: 22px 0;
}

.footer-link {
    color: #f35b61;
    text-decoration: none;
}

